<!DOCTYPE html>
<html>

<style>
h1{color:blue;
}

h2{color:green;
}

h3{color:orange;
}
</style>
<head>
<title>HTML</title>
<link rel="stylesheet"href="style.css">
</head>
<body>

<h1 id="abc">Python Tutorial</h1>
<p><b>Python</b>is a general purpose, dynamic, <a href="ht2.html">high-level</a>, and interpreted programming language.
It supports Object Oriented programming approach to develop applications.
It is simple and easy to learn and provides lots of high-level data structures.</p>

<h1>Features Of Python</h1>
<p><b>1.Easy syntax</b>-There is no semicolon,no curley braces.</p>
<p><b>2.readable</b>-it is easy to use and learn.</p>
<p><b>3.Platform independent</b>-it uses cross platform.</p>
<p><b>4.Dynamically typed</b>-there is no need to take datatype of variable.</p>
<p><b>5.Interepreted and extensible</b>.</p>
<p><b>6.free and open source</b>-we don't have to pay money to any organization for the use of python.</p>
<p><b>7.web development frameworks</b>- like flask and Django.</p>


<h1>Function and it's types</h1>
<p><b>Function</b> which is present outside the class and it calls directly.</p>
<h2>Function has two types</h2>
<p><b>1.parameterized function</b>-The function which has parameters.</p>
<p><b>2.Non-parameterized function</b>-The function which has not any parameters</p>
<h2>HTML Image</h2>

<img src="nature-wallpapers-38-768x480.jpg" alt="nature-wallpaper">
<h1>Difference between function and method</h1>

<table border="1">
<tr>
    <th>function</th>
    <th>method</th>
</tr>

<tr>
    <td>It is present in outside the class</td>
    <td>It is present inside the class</td>
</tr>

<tr>
    <td>It is not associated with the object</td>
    <td>It is associated with the object</td>
</tr>

</table>
</body>
</html>




