<!--For Hiding Form Field-->

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    First data : {{request.args.get('d1')}}<br>
    Second data : {{request.args.get('d2')}}<br>
    Third data : {{request.args.get('d3')}}
</head>
<body>

</body>
</html>

-->

<!--For Cookies-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--   <meta charset="UTF-8">-->
<!--    <title>Display</title>-->
<!--    First data : {{request.args.get('fd')}}<br>-->
<!--    Second data : {{request.args.get('sd')}}<br>-->
<!--    Third data : {{request.args.get('d3')}}-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!--For Session-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Display</title>
    First data : {{session.get('fd')}}<br>
    Second data : {{session.get('sd')}}<br>
    Third data : {{request.args.get('d3')}}
</head>
<body>
</body>
</html>
