{% extends 'App1/base.html' %}
{% load static %}
{% block content %}


     <h1>This is Contact Page</h1>
     <a href="//google.com">Search</a><br><br>
     <img src="{% static 'App1/contact2.jpg' %}" alt="not found">

{% endblock %}

{% block title %}
    <title>contact page</title>
{% endblock %}


{% block content1 %}
      <h3>Amazon.in</h3>
      <h3>  Amazon Toll Free Number 1800 3000 9009 </h3>
      <h3>  Updated on Tuesday, 16 February 2021 - 3:17pm</h3>

{% endblock %}

{% block content2 %}
   <h3> TOLL FREE NUMBER(S):</h3>
   <h3>1800 3000 9009</h3>
   <h3>1800 419 7355</h3>
 {% endblock %}