<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="{% static 'FirstApp/mystyle.css' %}" alt="not found">
</head>
<body>
     <ul class="my_navbar">
         <li><a href="/fa/home/">Home</a></li>
         <li><a href="/fa/about/">About</a></li>
         <li><a href="/fa/login/">Login</a></li>
         <li><a href="/fa/reg/">Register</a></li>
         <li><a href="/fa/cont/">Contact</a></li>

     </ul>
<a href="//google.com">Search</a><br><br>

<h1>Login Information</h1><br><br>

<form>
      Username : <input type ="text" name = "unm" required><br><br>
      Password : <input type ="password" name = "pwd" required><br><br>
      <input type = "submit" value = "Login">

</form>
</body>


<footer>
     <h4>Copyright 2021</h4>

</footer>
</body>
</html>