{% extends 'baseadmin.html' %}
{% load crispy_forms_tags %}


{% block title %}
 <title>Appointment Delete</title>
{% endblock %}


{% block content %}
    <div class="container">

        <form method="post" class="jumbotron">
            {% csrf_token %}
            <p>Are You Sure to Delete the Appointment {{appoint.name}} from {{appoint.city}} with {{appoint.contact_number}}?</p>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'showapp' %}">
                <input type="button" value="Cancel" class="btn btn-success">
            </a>
        </form>
    </div>
{% endblock %}