{% extends 'App1/base.html' %}
{% load static %}
{% block content %}
<h1> Employee Table</h1>
<table border="3">
<tr>
    <th>eid</th>
    <th>ename</th>
    <th>edesignation</th>
</tr>
    <tr>
{% for i in Emp1 %}
    <td>{{i}}</td>
{% endfor %}
</tr>

<tr>
{% for i in Emp2 %}
    <td>{{i}}</td>
{% endfor %}
</tr>

<tr>
{% for i in Emp3 %}
    <td>{{i}}</td>
{% endfor %}
</tr>
</table>


{% endblock %}

{% block title %}
     <title>first page</title>
{% endblock %}

{% block content1 %}
      <h1>First block code here</h1>
{% endblock %}

{% block content2 %}
      <h1>Last block code here</h1>
{% endblock %}
