{% extends 'App1/base.html' %}
{% load static %}
{% block content %}
<h1>TV TABLE</h1>
<table border="3">
<tr>
    <th>tname</th>
    <th>tmfg</th>
    <th>twarranty</th>
</tr>
    <tr>
{% for i in Tv1 %}
    <td>{{i}}</td>
{% endfor %}
</tr>

<tr>
{% for i in Tv2 %}
    <td>{{i}}</td>
{% endfor %}
</tr>

<tr>
{% for i in Tv3 %}
    <td>{{i}}</td>
{% endfor %}
</tr>



</table>
{% endblock %}

{% block title %}
     <title>fourth page</title>
{% endblock %}

{% block content1 %}
      <h1>First block code here</h1>
{% endblock %}

{% block content2 %}
      <h1>Last block code here</h1>
{% endblock %}
