{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
 <title>Add Employee</title>
{% endblock %}


{% block content %}
    <div class="container">

        <form method="post" class="jumbotron">
            {% csrf_token %}
            <p>Are You Sure to Delete the employee {{emp.ename}} from {{emp.emob}} worth Rs.{{emp.esal}}?</p>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'home' %}">
                <input type="button" value="Cancel" class="btn btn-success">
            </a>
        </form>
    </div>
{% endblock %}