{%  extends 'TicketApp/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>User:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update User</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_ticket' user.id %}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{user.email}}</p>
			<p>Phone: {{user.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Tickets</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ticket_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Price</th>
					<th>Category</th>
					<th>Status</th>
					<th>Discription</th>
					<th>Date_Created</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for ticket in tickets %}

				<tr>
					<td>{{ticket.price}}</td>
					<td>{{ticket.category}}</td>
					<td>{{ticket.discription}}</td>
					<td>{{ticket.status}}</td>
					<td>{{ticket.date_created}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_ticket' ticket.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_ticket' ticket.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}